<config>
    <modules>
        <Paul_Sub>
            <version>0.1.0</version>
        </Paul_Sub>
    </modules>

    <frontend>
        <layout>
            <updates>
                <paul_sub module="Paul_Sub">
                    <file>paul_sub.xml</file>
                </paul_sub>
            </updates>
        </layout>
        <routers>
            <sub>
                <use>standard</use>
                <args>
                    <module>Paul_Sub</module>
                    <frontName>sub</frontName>
                </args>
            </sub>
        </routers>
    </frontend>
    <global>
        <blocks>
            <sub>
                <class>Paul_Sub_Block</class>
            </sub>
        </blocks>

        <models>
            <sub>
                <class>Paul_Sub_Model</class>

                <resourceModel>sub_resource</resourceModel>
            </sub>

            <sub_resource>
                <class>Paul_Sub_Model_Resource</class>
                <entities>
                    <subscriber>
                        <table>subscriber</table>
                    </subscriber>
                </entities>
            </sub_resource>
        </models>

        <resources>
            <sub_setup>
                <setup>
                    <module>Paul_Sub</module>
                    <class>Paul_Sub_Model_Resource_Setup</class>
                </setup>
            </sub_setup>
        </resources>

        <helpers>
            <paul_sub>
                <class>Paul_Sub_Helper</class>
            </paul_sub>
        </helpers>
    </global>


    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Paul_Sub before="Mage_Adminhtml">Paul_Sub_Adminhtml</Paul_Sub>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>